body {
  margin: 0;
  padding: 0;
  background-color: rgba(66, 155, 223, 0.64);
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('./../../public/assets/SourceSansPro-Light.ttf') format('truetype');
}
